name: Updates version and tags
on:
  push:
    branches: ["main", "devel"]
permissions:
  contents: write
jobs:
  update_version_and_tag:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, '[SKIP]')"
    environment:
      name: CD

    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Setup env variables
        run: |
          echo "SKIPBUMP=FALSE" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump-my-version setuptools wheel twine

      - name: Configure git
        run: |
          git config --global user.name 'PartCAD GitHub Action'
          git config --global user.email 'openvmp@proton.me'

      # If a commit starts with [MAJOR] a new major verion upgrade will be
      # triggered. Use with caution as Major upgrades denote backwards
      # incompatibility. Yet I like it to be integrated in the CI
      - name: Bump Major Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          bump-my-version bump major
          echo "SKIPBUMP=TRUE" >> $GITHUB_ENV
        if: startsWith(github.event.head_commit.message, '[MAJOR]')

      - name: Bump Minor Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          bump-my-version bump minor
          echo "SKIPBUMP=TRUE" >> $GITHUB_ENV
        if: startsWith(github.event.head_commit.message, '[FEATURE]')

      # Default action
      - name: Bump Patch Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          bump-my-version bump patch
        if: env.SKIPBUMP == 'FALSE'

      - name: Commit version change to repo
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          git config --global credential.helper '!f() { sleep 1; echo "username=git token=${{ secrets.PAT }}"; }; f'
          git config --global --add url."https://${{ secrets.PAT }}:x-oauth-basic@github".insteadOf ssh://git@github
          git config --global --add url."https://${{ secrets.PAT }}:x-oauth-basic@github".insteadOf https://github
          git config --global --add url."https://${{ secrets.PAT }}:x-oauth-basic@github".insteadOf git@github
          git push --force origin $(git rev-parse --abbrev-ref HEAD)
          # git push --force --follow-tags
          # git push origin $(git rev-parse --abbrev-ref HEAD)
          . ./version.sh
          git push origin $PARTCAD_VERSION
